<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @klass.name %>
</p>

<p>
  <strong>Code:</strong>
  <%= @klass.code %>
</p>

<%= link_to 'Edit', edit_klass_path(@klass) %> |
<%= link_to 'Back', klasses_path %>
